@charset "utf-8";

#container {
  width: 100%;
  margin: 0px auto;
  border: 0px solid #bcbcbc;
}
/* header {
  border: 0px solid #bcbcbc;
  background-image: url("/image/header_img.png");
  height: 207px;
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
article {
  /*padding: 5px;*/
}

footer {
  clear: both;
  padding: 5px;
  border: 0px solid #bcbcbc;
  background-color: #F6FFF4;
  height: 400px;
  margin-bottom: 0px;

  width:100%;
}

footer {
    margin-top: 70px;
}
footer #logo{
	width:85px;
	height: 36px;
	float:left; 
	margin-left: 50px; 
	margin-top: 30px;
}

footer #company_info{
	float:left; 
	margin-left: 60px; 
	margin-top: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
}
