
#myInfoSect{
    width: 80%;
    height:600px;
    border: 1px solid black;
}

#myInfoHeader{
    background-color: #C4C4C4;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myInfoSaveButt{
}

#myInfoBody{
    padding: 50px;
}
.myInfoList{
    display: flex;
    align-items: center;
    padding: 10px;
}

.myInfoField{
    float:left;
    width: 20%;
}

.myInfoValueDiv{
    float:left;
    width: 60%;
}

.myInfoFieldChangeButt{
    padding: 5px;
}

.changePassModal-input{
    width: 80%;
    padding: 10px;
}